div {
    color: white;
}

h1 {
    text-align: center;
}

.contentSection {
    padding-top: 1%;
    padding-bottom: 1%;
}

.news {
    border-style: solid;
    overflow-y: scroll hidden;
    padding-top: 2%;
    padding-bottom: 2%
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b71c1c
}

.menu li {
    float: left;
}

.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #f05545
