<div id="Big-Div">
  <mat-sidenav-container (backdropClick)="close()">
    <div>
      <app-navbar></app-navbar>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
    <!-- This is the sideNav that will be available at every page -->
    <mat-sidenav #sidenav (keydown.escape)="close()" class="example-sidenav" disableClose>
      <ul>
        <li class="router-links" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>home</mat-icon><a (click)="close()" [routerLink]="['/']">Home</a>
        </li>
        <li class="router-links" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>event</mat-icon><a (click)="close()" [routerLink]="['/events']">Events</a>
        </li>
        <li class="router-links" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>people</mat-icon><a (click)="close()" [routerLink]="['/team']">Team</a>
        </li>
        <li class="router-links" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>explore</mat-icon><a (click)="close()" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="router-links" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>add</mat-icon><a (click)="close()" [routerLink]="['/signup']">Sign Up</a>
        </li>
        <li class="router-links" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>sentiment_satisfied</mat-icon><a (click)="close()" [routerLink]="['/login']">Login</a>
        </li>
        <li class="router-links" *ngIf="authService.loggedIn()">
          <mat-icon>sentiment_very_dissatisfied</mat-icon><a (click)="close()" [routerLink]="['/']" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </mat-sidenav>

  </mat-sidenav-container>
</div>