@import '~@angular/material/theming';
@import '../styles.scss';
div#Big-Div {
  background-color: mat-color($acm-primary, lighter);
  color: #ffffff;
  width: 100%;
  .example-sidenav {
    padding: 40px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      mat-icon {
        margin: 0px 20px 0px 0px;
      }
      a {
        font-size: $md-text;
        color: rgba(255, 255, 255, 0.4);
      }
      a:hover {
        text-decoration: none;
        color: white;
      }
    }
    .active {
      color: white;
    }
  }
}