<!-- Main Content -->
<main>
  <span class="text-center google-header">Meetings and Events</span>
  <!-- Loading/Error Screen -->
  <section class="loading-screens" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </section>
  <section class="loading-screens" *ngIf="!loading && error">
    <mat-icon>error</mat-icon>
  </section>
  <!-- Main Content -->
  <section *ngIf="!loading && !error">
    <section class="nav-buttons">
      <button mat-raised-button (click)=getNextEvents()>
        <
      </button>
      <button mat-raised-button (click)=getPrevEvents()>
        >
      </button>
    </section>
    <app-event-cards *ngFor="let event of displayedEvents" [ACMevent]=event></app-event-cards>
  </section>
</main>