<app-carousel></app-carousel>
<div class="row container-fluid" id="news">

  <div id="text-div">
    <h1 id="mission-caption">Our mission</h1>
    <p id="mission-statement">
      The Association for Computing Machinery chapter at Texas Tech University strives to further the education of our members
      and students. There are some concepts in the software development industry that are more intuitive through hands on experience.
      With that being said, ACM organizes a variety of events where each and every student that attends can walk away with learning
      something new or by making a new friend that can teach them something along the way. This creates a never ending chain of
      professional development where ideas and knowledge are passed on to members both new and old. We provide different resources
      such as connections to industry professionals, software and hardware to create projects with, and knowledge from individuals
      who are passionate about teaching others. ACM is about community and professional development and we would like to help each
      and every student be the best programmer they can be.
    </p>
  </div>

</div>