<div>
  <h2>Have A Question?</h2>
  <hr>
  <form [formGroup]="ContactUsForm">
    <mat-form-field class="form-group example-full-width">
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field class="form-group example-full-width">
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>
    <br>
    <mat-form-field class="form-group example-full-width">
      <input formControlName="message" matInput placeholder="Question">
    </mat-form-field>
    <br>
  <button [disabled]="!ContactUsForm.valid" mat-raised-button (click)="onCloseConfirm(ContactUsForm.value)">Submit</button>
  <button mat-raised-button (click)="onCloseCancel()" >Cancel</button>
  </form>
</div>