# ignore .env in production, I can't run this through travis so we have to keep it
Dockerfile
.dockerignore
.editorconfig
karma.conf.js
.angular-cli.json
.eslintrc.jsonsrc-site
test
.vscode
tsconfig.json
tslint.json
README.md
connect-db.sh
colors.txt
docker-compose.yml