@import '~@angular/material/theming';
@import '../../../../src-site/styles.scss';
mat-toolbar-row {
  background-color: mat-color($acm-accent);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 42px;
  width: 100%;

  align-items: center;
  white-space: nowrap;
  .title {
    font-size: $sm-text;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .nav-buttons {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-buttons> {
    flex: 1;
    a {
      font-size: $xs-text;
    }
  }
}

@media(max-width:768px) {
  mat-toolbar-row {
    height: 64px;
    justify-content: center;
  }
  .nav-buttons>a {
    font-size: $xs-text
  }
}

@media(max-width:425px) {
  mat-toolbar-row {
    height: 36px;
  }
}