div.content-section {
  background-color: #1b1b1b;
  text-align: center;
  margin: auto;
}

div.team-members {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  height: auto;
}

.team {
  flex: 0 0 300px;
  // width: 100%;
  padding: 25px;
  color: white;
  margin: 20px;
}

h4.name {
  font-size: bold 15px;
  text-decoration: underline;
}

@media (min-width: 950px) {
  .team {
    padding: 50px;
  }
}