<form [formGroup]="LoginForm">
  <!-- Email -->
  <mat-form-field>
    <input formControlName="email" matInput placeholder="Email">
    <mat-error>Invalid Email</mat-error>
  </mat-form-field>
  <!-- Password -->
  <mat-form-field>
    <input type="password" formControlName="password" matInput placeholder="Password">
    <mat-error>Password is empty</mat-error>
  </mat-form-field>
  <!-- Submit -->
  <button (click)="attemptLogin(LoginForm.value)" class="submit-buttons" mat-raised-button id="btn-login" [disabled]="!LoginForm.valid">Login</button>
  <a class="login-links" [routerLink]="['/auth/forgot']">Forgot Password?</a>
</form>
<app-authmethods></app-authmethods>