extends layout

block content
    
    // Events
    div.row.contentSection#events
        if !isEvents
            h1 No Upcoming Events
        else
            each event, i in calendarEvent
                div.row.col-xs-10.col-xs-offset-1.event
                    h1 #{calendarEvent[i].summary}
                    div.col-xs-12.col-sm-4.info
                        - var convertDate = calendarEvent[i].start.date.substr(5) + '-' + calendarEvent[i].start.date.substr(0, 4);    
                        h3 #{convertDate}
                    div.col-xs-12.col-sm-4.info
                        p #{calendarEvent[i].description}
                    div.col-xs-12.col-sm-4.info
                        h4 #{calendarEvent[i].location}
