extends layout

block content
    
    // Gallery
    div.row#gallery
        div.carousel.slide#galleryCarousel(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#galleryCarousel', data-slide-to='0')
                li(data-target='#galleryCarousel', data-slide-to='1')
                li(data-target='#galleryCarousel', data-slide-to='2')
            div.carousel-inner
                div.item.active
                    img(src='/images/team.jpg', style='width:100%')
                div.item
                    img(src='/images/hackwestx.jpg', style='width:100%')
                div.item
                    img(src='/images/code.jpg', style='width:100%')
                    
    // News
    div.row.contentSection#news
        div.col-sm-10.col-sm-offset-1.news
            h1 #{newsitem1}
    div.row.contentSection#news
        div.col-sm-10.col-sm-offset-1.news
            h1 #{newsitem2}
    div.row.contentSection#news
        div.col-sm-10.col-sm-offset-1.news
            h1 #{newsitem3}
    div.row.contentSection#news
        div.col-sm-10.col-sm-offset-1.news
            h1 #{newsitem4}
