extends layout

block content
    
    // Gallery
    div.row#gallery
        div.carousel.slide#galleryCarousel(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#galleryCarousel', data-slide-to='0')
                li(data-target='#galleryCarousel', data-slide-to='1')
                li(data-target='#galleryCarousel', data-slide-to='2')
            div.carousel-inner
                div.item.active
                    img(src='/images/team.jpg', style='width:100%')
                div.item
                    img(src='/images/hackwestx.jpg', style='width:100%')
                div.item
                    img(src='/images/code.jpg', style='width:100%')
                    
    // News
    each article in articles
        div.row.contentSection#news
            div.col-xs-10.col-xs-offset-1.news
                h1= article.title
                div.col-xs-12.col-sm-12.info
                    h3(style='text-align: center')= article.created_at
                div.col-xs-12.col-sm-12.info
                    =article.body
