extends layout

block content
    
    // Gallery
    div.row#gallery
        div.carousel.slide#galleryCarousel(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#galleryCarousel', data-slide-to='0')
                li(data-target='#galleryCarousel', data-slide-to='1')
                li(data-target='#galleryCarousel', data-slide-to='2')
                li(data-target='#galleryCarousel', data-slide-to='3')
                li(data-target='#galleryCarousel', data-slide-to='4')
            div.carousel-inner
                div.item.active
                    img(src='/images/team.jpg', style='width:100%')
                    div.carousel-caption
                        h4 HackWesTX 2017 Team
                div.item
                    img(src='/images/Android_Development_Workshop.jpg', style='width:100%')
                    div.carousel-caption
                        h4 Android Development Workshop
                div.item
                    img(src='/images/Pi_Workshop.JPG', style='width:100%')
                    div.carousel-caption
                        h4 Raspberry Pi Cloud Workshop
                div.item
                    img(src='/images/Local_Hack_Day.jpg', style='width:100%')
                    div.carousel-caption
                        h4 Local Hack Day 2016
                div.item
                    img(src='/images/Apples_to_Oranges.jpg', style='width:100%')
                    div.carousel-caption
                        h4 Apples to Oranges
            a.left.carousel-control(href='#galleryCarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
                span.sr-only Previous
            a.right.carousel-control(href='#galleryCarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
                span.sr-only Next
    div.row#news
        div.col-sm-8.col-sm-offset-2.col-xs-12
            h1(style='text-align: center') Our mission
            p  
            |    The Association for Computing Machinery chapter at Texas Tech 
            |    University strives to further the education of our members and  
            |    students. There are some concepts in the software development 
            |    industry that are more intuitive through hands on experience. 
            |    With that being said, ACM organizes a variety of events where 
            |    each and every student that attends can walk away with learning 
            |    something new or by making a new friend that can teach them 
            |    something along the way. This creates a never ending chain of 
            |    professional development where ideas and knowledge are passed 
            |    on to members both new and old. We provide different resources 
            |    such as connections to industry professionals, software and 
            |    hardware to create projects with, and knowledge from individuals 
            |    who are passionate about teaching others. ACM is about community 
            |    and professional development and we would like to help each and 
            |    every student be the best programmer they can be.
                
