doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/acm.css')
    body
        div.container-fluid
            
            // Navbar
            div#navbar.row.menu
                div.col-xs-1.col-sm-1.col-sm-offset-0
                    a(href='/') Home
                div.col-xs-1.col-sm-offset-0.col-xs-offset-1.col-sm-1
                    a(href='/events') Events
                div.col-xs-1.col-sm-offset-0.col-xs-offset-1.col-sm-1
                    a(href='/team') Team
                div.col-xs-1.col-sm-offset-0.col-xs-offset-1.col-sm-1
                    a(href='/contact') Contact
                div.col-xs-1.col-sm-offset-0.col-xs-offset-2.col-sm-1
                    a(href='/join') Join
            
            block content
            
            // Footer
            div.row#footer
                div.col-sm-offset-2.col-sm-8
                    div.col-xs-offset-2.col-xs-2.col-sm-offset-1.col-sm-1.logo
                        a(href='https://www.facebook.com/groups/acmttu/')
                            img.img-responsive(src='/images/facebook_logo.svg')
                    div.col-xs-2.col-sm-offset-2.col-sm-1.logo
                        a(href='https://twitter.com/acmttu')
                            img.img-responsive(src='/images/twitter_logo.svg')
                    div.col-xs-2.col-sm-offset-2.col-sm-1.logo
                        a(href='https://github.com/orgs/TTUSDC')
                            img.img-responsive(src='/images/github_logo.svg')
                    div.col-xs-2.col-sm-offset-2.col-sm-1.logo
                        a(href='https://www.facebook.com/SDCTTU/')
                            img.img-responsive(src='/images/sdc_logo.png')
