doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/classic-10_7.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/acm.css')
    body
        div.container-fluid#page
            
            // Navbar
            nav.navbar-default
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarTTU')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        div.navbar-brand Texas Tech ACM
                    div.collapse.navbar-collapse#navbarTTU
                        ul.nav.navbar-nav
                            li
                                a(href='/') Home
                            li
                                a(href='/events') Events
                            li
                                a(href='/team') Team
                            li
                                a(href='/contact' ) Contact
                            li
                                a(href='/join') Join
            
            block content
            
            // Footer
            div.row
                div.col-sm-offset-2.col-sm-8
                    div.col-xs-offset-2.col-xs-2.col-sm-offset-1.col-sm-1.logo
                        a(href='https://www.facebook.com/groups/acmttu/', target='_blank')
                            img.img-responsive(src='/images/facebook_logo.svg')
                    div.col-xs-2.col-sm-offset-2.col-sm-1.logo
                        a(href='https://twitter.com/acmttu', target='_blank')
                            img.img-responsive(src='/images/twitter_logo.svg')
                    div.col-xs-2.col-sm-offset-2.col-sm-1.logo
                        a(href='https://github.com/orgs/TTUSDC', target='_blank')
                            img.img-responsive(src='/images/github_logo.svg')
                    div.col-xs-2.col-sm-offset-2.col-sm-1.logo
                        a(href='https://www.instagram.com/texastechacm', target='_blank')
                            img.img-responsive(src='/images/instagram_logo.svg')
