extends layout
    
block content

    // Login
    div.row.contentSection
        div.col-sm-6.col-sm-offset-3.col-xs-12#mc_embed_signup
            form(method='post')
                div.col-sm-8.mc-field-group
                    input(type='text', name='email', placeholder='Email')
                div.col-sm-8.mc-field-group
                    input(type='password', name='password', placeholder='Password')
                div.col-sm-8.clear
                    input.button#mc-embedded-subscribe(type='submit', value='Login', name='login')
                    p= message
