extends layout

block content
    
    // Reset
    div.row.contentSection
        div.col-sm-6.col-sm-offset-3.col-xs-12#mc_embed_signup
            form(method='post')    
                div.col-sm-8.mc-field-group
                    input(type='password', name='password', placeholder='Password')
                div.col-sm-8.mc-field-group
                    input(type='password', name='confirmPassword', placeholder='Confirm Password')
                div.col-sm-8.clear
                    input.button#mc-embedded-subscribe(type='submit', value='Update Password', name='update-password')
                    p= message
