<div id="login-background">
  <div class="container-fluid login-div">
    <mat-card id="login-card" class="login-container">
      <div class="login-header">
        <img src="../../../assets/acm_logo.svg" />
        <h3>TTU ACM</h3>
      </div>

      <form class="login-container" [formGroup]="LoginForm" (ngSubmit)="attemptLogin(LoginForm.value)">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>
        <button class="submit-buttons" mat-raised-button type="submit" id="btn-login" [disabled]="!LoginForm.valid">Submit Form</button>

        <p>Login with your account</p>
        <app-authmethods></app-authmethods>

        <a class="login-links" [routerLink]="['/prompt']">Forgot Password?</a>
        <a class="login-links" [routerLink]="['/signup']">Create new Account</a>
      </form>
    </mat-card>

  </div>
</div>