div#top-update-profile-div {
  width: 100%;
  text-align: center;
}

mat-form-field.profile-modal-group {
  position: absolute;
  top: 0px;
  left: 0px;
}

div#top-update-profile-div {
  width: 100%;
}

/* mat-card#profile-preview {
  background-color: grey;
  width: 50%;
  margin: 20px;
} */

img#image-preview:after {
  display: block;
  padding-bottom: 100%;
  content: "";
}

img#image-preview {
  width: 50%;
  height: auto;
  margin:  30px auto;
  padding: 10px;
  background-color: #424242;
  border: 10px solid black;
}