<div id="top-update-profile-div">
  <h2>Upload Profile Picture</h2>
  <mat-card id="profile-preview">
    <img src="" alt="Not Found">
  </mat-card>
  <form>
    <div>
      <button mat-raised-button (click)="imgUpload.click()">Choose New File</button>
      <input #imgUpload hidden (change)="onFileSelected($event)" type="file">
    </div>
    <hr>
    <button [disabled]="selectedFile == null" mat-raised-button (click)="onCloseConfirm()">Upload</button>
    <button mat-raised-button (click)="onCloseCancel()">Cancel</button>
  </form>
</div>