@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,body {
  background-color: #c62828;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}