div {
    color: white;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

#navbar {
    background-color: #b71c1c;
}

#gallery {
    background-color: #b71c1c;
}

#news {
    background-color: #f05545;
}

#footer {
    background-color: #b71c1c;
}

#events {
    background-color: #b71c1c;
}

.contentSection {
    padding-top: 2%;
    padding-bottom: 2%;
}

.news {
    border-style: solid;
    overflow-y: auto;
    height: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.event {
    border-style: solid;
    height: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
}

.logo {
    width: 25%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b71c1c
}

.footer li {
    float: left;
}

.footer li a {
    display: inline-block;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b71c1c
}

.menu li {
    float: left;
}

.menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #f05545
