@import '~@angular/material/theming';
@import '../../../../../styles.scss';
div#forgot-background {
  background-image: url('../../../../../assets/images/backgrounds/Material-1.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.forgot-div {
  text-align: center;
  width: 100%;
  padding: 15px;
}

.forgot-container {
  background-color: mat-color($acm-primary, darker);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.forgot-header {
  text-align: center;
}

.forgot-header img {
  width: 150px;
}

#error-message {
  display: none;
}

.forgot-container>* {
  width: 100%;
}

.forgot-container form {
  margin-bottom: 20px;
}

.forgot-container form>* {
  margin: 5px 0;
}

button#btn-forgot {
  background-color: mat-color($acm-accent, lighter);
}

a.forgot-links {
  color: white;
}

a.forgot-links:hover {
  text-decoration: true;
}

a.forgot-links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.forgot-links:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (min-width: 992px) {
  .forgot-div {
    padding: 150px;
    width: 80%;
  }
}