@import '~@angular/material/theming';
@import '../../../../../styles.scss';
#footer-div {
  background-color: mat-color($acm-accent, darker);
  text-align: center;
  color: #ffffff;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 150px;
}

h5#copyright {
  color: rgba(41, 40, 40, 0.609);
}

img {
  // position: relative;
  width: 35px;
  height: 35px;
}

@media (min-width: 950px) {
  img {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 15px;
  }
}

@media (max-width: 950px) {
  #icons {
    height: 100px;
  }
}