@import '~@angular/material/theming';
@import 'styles';
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 42px;
  mat-form-field {
    margin: 12px;
  }
}