<form class="reset-container" [formGroup]="ResetForm" (ngSubmit)="changePassword(ResetForm.value)">
  <header>Reset Password</header>
  <mat-form-field>
    <input type="password" formControlName="password" matInput placeholder="Password">
    <mat-hint align="end">Min Length: 8</mat-hint>
    <mat-error>Password must be at least 8 characters long</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input (blur)="checkPasswords(ResetForm.value)" type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
    <mat-error>Passwords do not match</mat-error>
  </mat-form-field>
  <button class="submit-buttons" mat-raised-button type="submit" id="btn-reset" [disabled]="!ResetForm.valid">Reset Password</button>
</form>