@import '~@angular/material/theming';
@import 'styles';
main {
  background-color: mat-color($acm-primary, darker);
  h1>.reminder {
    font-size: small;
    margin: 0px 15px;
  }
  @media (max-width: 425px) {
    h1>.reminder {
      margin: 0px;
      display: block;
    }
  }
  mat-dialog-content>form {
    display: flex;
    flex-direction: column;
  }
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-header {
      font-size: x-large;
      margin: 12px;
    }
    .preview-header {
      font-size: large;
      padding-top: 60px;
      padding-bottom: 12px;
    }
    img {
      width: 50%;
      height: auto;
    }
  }
}