img#profile-pic {
  width: 100%;
  margin: 20px auto;
  display: block;
}

@media (max-width: 991px) {
  h1, h3, p {
  font-size: 4vw;
  text-align: center;
}
  img#profile-pic {
    width: 50%;
  }
}