.carousel {
  background-color: rgb(124, 122, 122);
}

h4 {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 15px;
  font-size: 20px;
  width: 30%;
}