<div id="signup-background">
  <div class="container-fluid signup-div">
    <mat-card id="signup-card" class="signup-container">
      <div class="login-header">
        <img src="../../../assets/acm_logo.svg" />
        <h3>TTU ACM</h3>
      </div>

      <form class="signup-container" [formGroup]="SignUpForm" (ngSubmit)="attemptRegister(SignUpForm.value)">
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid Email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Password">
          <mat-hint align="end">Min Length: 8</mat-hint>
          <mat-error>Password must be at least 8 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input (blur)="checkPasswords(SignUpForm.value)" type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
          <mat-error>Passwords do not match</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="classification" placeholder="Classification">
            <mat-option *ngFor="let class of studentClassification" value={{class}}>{{class}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="submit-buttons" mat-raised-button type="submit" id="btn-signup" [disabled]="!SignUpForm.valid">Submit Form</button>
      </form>
      <p>You can also sign up with these accounts</p>
      <app-auth-methods></app-auth-methods>
      <a [routerLink]="['/login']">Already Have an Account?</a>
    </mat-card>

  </div>
</div>