@import '~@angular/material/theming';
@import '../../../../../styles.scss';
div#signup-background {
  background-image: url('../../../../../assets/images/backgrounds/Material-1.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.signup-div {
  text-align: center;
  width: 100%;
  padding: 15px;
}

.login-header {
  text-align: center;
  img {
    width: 150px;
  }
}

.signup-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: mat-color($acm-primary, darker);
}

.signup-container>* {
  width: 100%;
}

.signup-container form {
  margin-bottom: 20px;
}

.signup-container form>* {
  margin: 5px 0;
}

#btn-signup {
  background-color: mat-color($acm-accent);
}

mat-form-field {
  color: white;
}

@media (min-width: 992px) {
  .signup-div {
    padding: 100px;
    width: 80%;
  }
}