<div id="footer-div">
  <button id="contact-button" mat-raised-button (click)="openDialog()">Contact Us</button>
  <div id="icons" class="row container col-sm-12">
    <span class="col-3 logo">
      <a href="https://www.facebook.com/groups/acmttu/" target='_blank'>
        <img src="../../../assets/images/facebook_logo.svg" alt="FB Image NotFound" class="img-responsive">
      </a>
    </span>
    <span class="col-3 logo">
      <a href="https://twitter.com/acmttu" target='_blank'>
        <img src="../../../assets/images/twitter_logo.svg" alt="Twitter Image NotFound" class="img-responsive">
      </a>
    </span>
    <span class="col-3 logo">
      <a href="https://github.com/orgs/TTUSDC" target='_blank'>
        <img src="../../../assets/images/github_logo.svg" alt="GitHub Image Not Found" class="img-responsive">
      </a>
    </span>
    <span class="col-3 logo">
      <a href="https://www.instagram.com/texastechacm" target="_blank">
        <img src="../../../assets/images/lnstagram_logo.svg" alt="Instagram Image NotFound" class="img-responsive">
      </a>
    </span>
  </div>
  <div class="row text-center center">
    <div class="col-sm-offset-2 col-sm-12">
      <h5 id="copyright">&copy; Copyright 2017 ACM TTU, All Rights Reserved</h5>
    </div>
  </div>
</div>



