<mat-card>
  <section>
    <small>
      <em id="date">{{getDate(ACMevent.startTime)}}</em>
    </small>
  </section>
  <br>
  <mat-card-title>{{ACMevent.title}}</mat-card-title>
  <mat-card-content>
    <section class="description">
      {{ACMevent.description}}
    </section>
    <section *ngIf="state.loggedIn()" class="attendance">
      <small>{{attending ? "You are attending this event!" : "You are not attending this event..."}}</small>
      <div>
        <button [disabled]="waiting" (click)="toggleAttendance()" *ngIf="!attending" mat-raised-button color="accent">
          Going
        </button>
        <button [disabled]="waiting" style="color: gray" (click)="toggleAttendance()" *ngIf="attending" mat-raised-button color="primary">
          Not Going
        </button>
      </div>
    </section>
    <hr>
  </mat-card-content>
  <mat-card-footer *ngIf="!ACMevent.allDayEvent">
    <span class="location">
      Meeting will be held at: {{ACMevent.location}} on {{getDay(ACMevent.startTime)}}
    </span>
    <span *ngIf="!isSmallScreen"> | </span>
    <section *ngIf="isSmallScreen"></section>
    <span class="time">
      Starting at {{getTime(ACMevent.startTime)}} and ending at {{getTime(ACMevent.endTime)}}
    </span>
  </mat-card-footer>
  <mat-card-footer *ngIf="ACMevent.allDayEvent">
    <span class="location">
      Taking place at {{ACMevent.location}} on {{getLongDate(ACMevent.startTime)}}
    </span>
  </mat-card-footer>
</mat-card>
