<!-- Change thise to long buttons with matching colors -->

<main>
  <section class="oauth-buttons">
    <a href="{{location}}/auth/google">
      <button class="google" mat-button>Login with Google+</button>
    </a>
  </section>
  <section class="oauth-buttons">
    <a href="{{location}}/auth/github">
      <button class="github" mat-button>Login with GitHub</button>
    </a>
  </section>
  <section class="oauth-buttons">
    <a href="{{location}}/auth/facebook">
      <button class="facebook" mat-button>Login with Facebook</button>
    </a>
  </section>
</main>