<!-- Change thise to long buttons with matching colors -->

<main>
  <section class="oauth-buttons">
    <a href="{{location}}/api/auth/google">
      <button class="google google-oauth" mat-button>Login with Google+</button>
    </a>
  </section>
  <section class="oauth-buttons">
    <a href="{{location}}/api/auth/github">
      <button class="github github-oauth" mat-button>Login with GitHub</button>
    </a>
  </section>
  <section class="oauth-buttons">
    <a href="{{location}}/api/auth/facebook">
      <button class="facebook facebook-oauth" mat-button>Login with Facebook</button>
    </a>
  </section>
</main>