<form class="contact-container" [formGroup]="ContactForm" (ngSubmit)="onSubmit(ContactForm.value)">
  <mat-form-field>
    <input formControlName="name" type="text" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="email" type="text" matInput placeholder="Email">
    <mat-error>Invalid Email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="topic" placeholder="Topic">
      <mat-option *ngFor="let topic of topics" value={{topic}}>
        {{topic}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="message" type="text" matInput placeholder="What's up?">
      </textarea>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!ContactForm.valid">
    Send Message
  </button>
</form>