<div id="feed-div">
  <mat-card class="feed-post">
    <mat-card-title>The name of the author goes here</mat-card-title>
    <mat-card-content>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, enim eligendi quidem sapiente assumenda est quos inventore molestias suscipit harum perferendis adipisci sequi commodi similique quasi facere blanditiis voluptatum quis?</p>
      <input id="comment-input" matInput class="form-control" placeholder="Comment">
      <button class="btn btn-primary">Like</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="feed-post">
    <mat-card-title>The name of the author goes here</mat-card-title>
    <mat-card-content>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, enim eligendi quidem sapiente assumenda est quos inventore
        molestias suscipit harum perferendis adipisci sequi commodi similique quasi facere blanditiis voluptatum quis?</p>
      <input id="comment-input" matInput class="form-control" placeholder="Comment">
      <button class="btn btn-primary">Like</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="feed-post">
    <mat-card-title>The name of the author goes here</mat-card-title>
    <mat-card-content>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, enim eligendi quidem sapiente assumenda est quos inventore
        molestias suscipit harum perferendis adipisci sequi commodi similique quasi facere blanditiis voluptatum quis?</p>
      <input id="comment-input" matInput class="form-control" placeholder="Comment">
      <button class="btn btn-primary">Like</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="feed-post">
    <mat-card-title>The name of the author goes here</mat-card-title>
    <mat-card-content>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, enim eligendi quidem sapiente assumenda est quos inventore
        molestias suscipit harum perferendis adipisci sequi commodi similique quasi facere blanditiis voluptatum quis?</p>
      <input id="comment-input" matInput class="form-control" placeholder="Comment">
      <button class="btn btn-primary">Like</button>
    </mat-card-content>
  </mat-card>
</div>
