div#login-background {
  background-color: #1b1b1b;
  width: auto;
}

.login-div {
  text-align:center;
  width: 100%;
  padding: 15px;

}

.login-header {
  text-align: center;
}

.login-header img {
  width: 150px;
}

#error-message {
  display: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-container > * {
  width: 100%;
}

.login-container form {
  margin-bottom: 20px;
}

.login-container form > * {
  margin: 5px 0;
}

@media (min-width: 992px) {
  .login-div {
  padding: 150px;
  width: 80%
  }

}