<div class="container event-div">
  <div class="text-center nav-button-container">
    <button (click)=getPrevEvents() mat-raised-button class="nav-buttons left-button">
      < </button>
        <span class="google-header">ACM TTU Meetings</span>
        <button (click)=getNextEvents() mat-raised-button class="nav-buttons right-button">
          >
        </button>
  </div>
  <mat-card *ngFor="let event of displayedEvents" class="text-center eachEvent">
    <div>
      <small>
        <em id="event-id">{{event.id}}</em>
      </small>
    </div>
    <br>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-content>
      <div class="description">
        {{event.description}}
      </div>
      <hr>
      <div class="date">
        {{getDate(event.startTime)}}
      </div>
      <div class="location">
        Meeting will be at: {{event.location}} on {{event.day}}s
      </div>
      <div class="time">
        Starting at {{getTime(event.startTime)}} and ending at {{getTime(event.endTime)}}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" class="card-buttons">
        Attending
      </button>
      <button mat-raised-button class="card-buttons">
        Maybe
      </button>
      <button mat-raised-button color="warn" class="card-buttons">
        Not Attending
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="text-center nav-button-container">
    <button (click)=getPrevEvents() mat-raised-button class="nav-buttons left-button">
      < </button>
        <span class="google-header">ACM TTU Meetings</span>
        <button (click)=getNextEvents() mat-raised-button class="nav-buttons right-button">
          >
        </button>
  </div>
</div>