<main>
  <form *ngIf="!loading" class="contact-container" [formGroup]="ClubForm" (ngSubmit)="onSubmit(ClubForm.value)">
    <mat-card *ngFor="let topic of topics" class='topic-card'>
      <h3>{{topic}}</h3>
      <input type="checkbox" (change)="onChange(topic, $event.target.checked)">
      <span>Interested</span>
    </mat-card>
    <mat-card *ngIf="ClubForm.value.topic.includes('Other')">
      <mat-form-field>
        <input formControlName="otherTopic" type="text" matInput placeholder="What are you interested in?">
      </mat-form-field>
    </mat-card>
    <button mat-raised-button type="submit" [disabled]="!ClubForm.valid">
      Submit
    </button>
  </form>
</main>

