@import '~@angular/material/theming';
@import '../../../../../styles.scss';
.navbar {
  display: flex;
  flex-direction: row;
  background-color: mat-color($acm-accent, darker);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  a {
    flex: 1;
    color: white;
    font-size: $md-text;
    margin: 5px 20px;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  button {
    min-width: 1%;
  }
  mat-icon {
    font-size: $md-text;
    height: 100%;
    width: 100%;
  }
  .page {
    flex: 1;
    font-size: $md-text;
    justify-self: right;
  }
}