<div id="reset-background">
  <div class="container-fluid reset-div">
    <mat-card id="reset-card" class="reset-container">
      <div class="login-header">
        <img src="../../../assets/acm_logo.svg" />
        <h3>Reset Password</h3>
      </div>

      <form class="reset-container" [formGroup]="ResetForm" (ngSubmit)="changePassword(ResetForm.value)">
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
        </mat-form-field>
        <button class="submit-buttons" mat-raised-button type="submit" id="btn-reset" [disabled]="!ResetForm.valid">Reset Password</button>
      </form>
      <div class="error-container"
      *ngIf="ResetForm.controls['password'].dirty && ResetForm.controls['confirmPassword'].dirty && ResetForm.errors != null">
        <div *ngIf="ResetForm.errors.mismatch">
          Passwords do not match
        </div>
        <div *ngIf="ResetForm.errors.passLength">
          Password must be at least 8 characters long
        </div>
      </div>
    </mat-card>

  </div>
</div>
