div.content-section {
  background-color: #1b1b1b;
  text-align: center;
  margin: auto;
}

div.team-members {
  text-align: center;
}

section.team {
  display: inline-block;
  width: 400px;
  padding: 25px;
  color: white;
}

h4.name {
  font-size: bold 15px;
  text-decoration: underline;
}

@media (min-width: 950px) {
  div.team-members {
  margin: 100px auto;
}
  section.team {
  padding: 50px;
}
}
