<div class='logo-container'>
  <span class="logos">
    <a href="http://localhost:80/auth/google">
      <img src="../../../assets/images/google.svg" alt="Google Logo">
    </a>
  </span>
  <span class="logos">
    <a href="http://localhost:80/auth/github">
      <img src="../../../assets/images/github-circle.svg" alt="GitHub Logo">
    </a>
  </span>
  <!-- Cannot Use this route yet since we need SSL Certs -->
  <!-- <span class="logos">
          <img (click)="facebookSignUp()" src="../../../assets/images/facebook-box.svg" alt="Facebook Logo">
        </span> -->
</div>