<div class='logo-container'>
  <!--
    This hack only works since we are deploying the server and the
    front end on the same server and serving angular through nodejs
  -->
  <span class="logos">
    <a href="/auth/google">
      <img src="../../../assets/images/google.svg" alt="Google Logo">
    </a>
  </span>
  <span class="logos">
    <a href="/auth/github">
      <img src="../../../assets/images/github-circle.svg" alt="GitHub Logo">
    </a>
  </span>
  <span class="logos">
    <a href="/auth/facebook">
      <img src="../../../assets/images/facebook-box.svg" alt="Facebook Logo">
    </a>
  </span>
</div>