<div class='logo-container'>
  <span class="logos">
    <a href="{{location}}/auth/google">
      <img src="../../../assets/images/google.svg" alt="Google Logo">
    </a>
  </span>
  <span class="logos">
    <a href="{{location}}/auth/github">
      <img src="../../../assets/images/github-circle.svg" alt="GitHub Logo">
    </a>
  </span>
  <span class="logos">
    <a href="{{location}}/auth/facebook">
      <img src="../../../assets/images/facebook-box.svg" alt="Facebook Logo">
    </a>
  </span>
</div>